<div id="donate">
	{if $donate_paypal.use || $donate_paygol.use}
		<div id="donate_select">
			<a href="javascript:void(0)" onClick="Donate.showPayPal(this)" class="nice_active nice_button">{lang("paypal", "donate")}</a>
		</div>

		<div class="ucp_divider"></div>

		{if $donate_paypal.use}
	<div id="starpass_219031"></div><script type="text/javascript" src="http://script.starpass.fr/script.php?idd=219031&amp;verif_en_php=1&amp;datas="></script><noscript>Veuillez activer le Javascript de votre navigateur s'il vous pla&icirc;t.<br /><a href="http://www.starpass.fr/">Micro Paiement StarPass</a></noscript>
		{/if}
	{else}
		{lang("no_methods", "donate")}
	{/if}
</div>