#ucp_top {
	padding:5px;
	padding-bottom:10px;
}

#ucp_avatar {
	display:block;
	float:left;
	width:120px;
	height:120px;
}

/* Avatar hover overlay */
#ucp_avatar div {
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	text-align:center;
	font-size:14px;
	background-color:rgba(0,0,0,0.6);
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
	width:120px;
	height:70px;
	padding-top:50px;
	color:#fff;
}

#ucp_avatar:hover div {
	opacity:1;
	filter:alpha(opacity=100);
}

#ucp_info {
	float:left;
	height:130px;
}

/* #ucp_info columns*/
#ucp_info aside {
	float:left;
	width:250px;
	height:130px;
}

#ucp_info aside table {
	margin-left:auto;
	margin-right:auto;
}

/* First column in the #ucp_info */
#ucp_info aside:first-child {
	margin-right:20px;
}

#ucp_info td {
	padding:1px;
}

#ucp_buttons {
	margin-top:-15px;
}

#ucp_buttons a {
	display:block;
	width:330px;
	height:93px;
	float:left;
	margin-bottom:15px;
	margin-left:12px;
	}
	#ucp_buttons a div {
		display: block;
		width:100%;
		height: 100%;
		padding-top: 22px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background: rgba(0,0,0,.1);
		}
		#ucp_buttons a p {
		display: block;
		width: 100%;
		height: 50px;
		background: rgba(0,0,0,.5);
		text-align: center;
		color: #e2e3e5;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 24px;
		text-shadow: 0 0 5px rgba(0,0,0,.8), 0 0 3px rgba(0,0,0,.4);
		line-height: 50px;
		}
		#ucp_buttons a:hover div {
		background: none;
		}
		#ucp_buttons a:hover p {
		color: #30a9e0;
		}


#ucp_characters {
	margin-top:-20px;
	padding-left:10px;
	padding-right:10px;
}

/* UCP: character list, character */
#ucp_characters a {
	float:left;
	display:block;
	width:64px;
	height:64px;
	margin-right:15px;
	margin-bottom:15px;
}

/* UCP: character list, realm headline */
#ucp_characters h1 {
	clear:both;
}
	.statistics_top_hk {
		background: rgba(153,153,153,0.05);
		box-shadow: inset 0 0 0 1px rgba(255,255,255,.02), 0 0 4px rgba(0,0,0,.6);
		border-radius:5px;
		}