{if isset($is404) && $is404}
	<div class="error">
			<img style="max-width:100%;" class="derpy" src="{$url}application/images/error/fatal-error.png">
			<center>Nan rien par ici désolé !<br>"I just don't know what went wrong".</center>
			<div class="footer">
				<center><a href="http://site.ashen-server.com">Site</a> | <a href="http://forum.ashen-server.com/">Forum</a></center>
			</div>
		</div>
	<!-- <center style='margin:10px;font-weight:bold;'>{lang("404_long", "error")}</center> -->
{else}
	<div class="error">
				<img style="max-width:100%;" class="derpy" src="{$url}application/images/error/fatal-error.png">
				<center>Nan rien par ici désolé !<br>"I just don't know what went wrong".</center>
				<div class="footer">
					<center><a href="http://site.ashen-server.com">Site</a> | <a href="http://forum.ashen-server.com/">Forum</a></center>
				</div>
			</div>
<!--	<center style='margin:10px;font-weight:bold;'>{$errorMessage}</center> -->
{/if}