#achat {
	margin-top:20px;
	margin-bottom:20px;
}

#achat form {
	display:inline;
	margin-left:5px;
	margin-right:5px;
}

#achat_select {
	text-align:left;
	padding:10px;
	margin-bottom:10px;
	padding-top:0px;
}

#achat_select .nice_button {
	margin-right:5px;
}

#achat form input[type="submit"] {
	margin-top:15px;
	margin-left:25px;
}

#achat form label {
	display:block;
	padding:8px;
	font-size:14px;
	margin-left:20px;
}

#achat form label input[type="radio"] {
	margin-right:20px;
}

#achat .right_image {
	float:right;
	margin-right:40px;
}