<div id="achat">
	{if $achat_paypal.use || $achat_paygol.use}
		<div id="achat_select">
			<a href="javascript:void(0)" onClick="achat.showPayPal(this)" class="nice_active nice_button">{lang("paypal", "achat")}</a>
		</div>

		<div class="ucp_divider"></div>
		<h2 align = "center"><p style = "color:white;"><b> <span style = "color:#D9D95D;">1 Code = 100 Ashen Points !</span><br> <span style = "color:red;">Attention les codes ne sont pas remboursables !</span></b></p></h2>
		{if $achat_paypal.use}
	<div id="starpass_220556"></div><script type="text/javascript" src="http://script.starpass.fr/script.php?idd=220556&amp;verif_en_php=1&amp;datas="></script><noscript>Veuillez activer le Javascript de votre navigateur s'il vous pla&icirc;t.<br /><a href="http://www.starpass.fr/">Micro Paiement StarPass</a></noscript>	{/if}
	{else}
		{lang("no_methods", "achat")}
	{/if}
</div>